google-api-python-client==2.118.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
python-dateutil>=2.8.2
google-auth
pytest==8.0.2
pytest-mock
pytest-cov==4.1.0
coverage==7.4.3
pytest-timeout==2.2.0
